/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
    @maintitle box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
}
/* inherit border-box on all elements in the universe and before and after
 */
*,
*:before,
maintit *:after {
    box-sizing: inherit;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    #main {
        transform: scale(0.9);
        margin-top: -2%;
    }
}

.flex-title {
    display: inline-flex;
    flex-wrap: wrap;
}

#maintitle {
    font-size: 3em;
    font-family: "Dancing Script", cursive;
    font-weight: bold;
    padding: 0;
    margin: 0;
    opacity: 1;
    z-index: 3;
    white-space: pre-line;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    #maintitle {
        font-size: 4em;
        font-family: "Dancing Script", cursive;
        font-weight: bold;
        padding: 0;
        margin: 0;
        opacity: 1;
    }

    .flex-title {
        flex-basis: 100%;
    }

    .inflexction {
        display: flex;
        flex-direction: row;
        align-content: center;
    }
}

.jumbotron {
    background-color: black;
    color: white;
    text-align: center;
    padding: 4% 4%;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .jumbotron {
        padding: 1% 1%;
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        flex-direction: column;
    }
}

#generate-button-new {
    font: bold 2em "Oswald", sans-serif;
    text-transform: uppercase;
    transition: 1s ease-in-out;
    color: black;
    padding: 0.1em 0.5em;
    border-radius: 0.5em;
    margin-bottom: 4%;
}

#generate-button-new:hover {
    transition: 1s ease-in-out;
    opacity: 1;
    background: white;
    color: black;
}

#generate-button-new:focus {
    font: bold 2em "Oswald", sans-serif;
    text-transform: uppercase;
    transition: 1s ease-in-out;
    color: black;
    background: white;
    padding: 0.1em 0.5em;
    border-radius: 0.5em;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .generate-button-container {
        text-align: center;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: auto;
        margin-right: auto;
        align-self: center;
    }

    #generate-button-new {
        font: bold 4.75em "Oswald", sans-serif;
        text-transform: uppercase;
        transition: .25s;
        color: black;
        padding: 0.1em 0.5em;
        border-radius: 0.5em;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        transition-timing-function: cubic-bezier(0.18, 1.8, 0.59, 0.85);
    }

    #generate-button-new:hover {
        font: bold 4.75em "Oswald", sans-serif;
        text-transform: uppercase;
        transition: .5s;
        color: white;
        background-color: black;
        padding: 0.1em 0.5em;
        border-radius: 0.5em;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        transform: scale(1.05);
        transition-timing-function: cubic-bezier(0.18, 1.8, 0.59, 0.85);
    }

    #generate-button-new:focus {
        font: bold 4.75em "Oswald", sans-serif;
        text-transform: uppercase;
        transition: .5s ease-in-out;
        color: black;
        background: white;
        padding: 0.1em 0.5em;
        border-radius: 0.5em;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .generate-button-active {
        -webkit-animation: flux 2s infinite;
    }

    @-webkit-keyframes flux {
        0% {
            color: black;
            background: white;
        }
        100% {
            color: black;
            background: white;
        }
    }
}

.sign-in-button-container-header {
    width: 75%;
    margin: auto;
}

.modal {
    overflow-y: auto;
}

.modal-open {
    overflow: auto;
}

body {
    padding-right: 0 !important;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .aux {
        margin-left: auto;
        text-align: right;
        width: 33.3333%;
    }
}

.header-logo-container {
    text-align: center;
    align-content: center;
    margin-bottom: 4%;
}

#logo-header {
    border-radius: 2em;
    width: 50%;
    height: 50%;
    border-color: white;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .header-logo-container {
        text-align: left;
        margin-bottom: 0;
        width: 33.3333%;
    }

    #logo-header {
        width: 63%;
        height: 63%;
        transition: .5s;
        transition-timing-function: cubic-bezier(0.18, 1.8, 0.59, 0.85);
    }

    #logo-header:hover {
        transition: .5s;
        transform: scale(1.05);
        transition-timing-function: cubic-bezier(0.18, 1.8, 0.59, 0.85);
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .sign-in-button-container-header {
        width: 100%;
    }
}

.sign-in-modal-logo-container {
    margin: auto;
    text-align: center;
}

.page-header {
    text-align: center;
    font-family: "Lato";
    margin-top: 5px;
}

.media-body {
}

.media-heading {
    font-weight: bold;
}

.thesis {
}

.topic {
    text-align: center;
}

.table tr:hover {
    background-color: dimgrey;
}

.caption {
    text-align: center;
    font-family: "Lato";
    padding: 0;
}

.menu-items-animation {
    padding: 0;
}
.day {
    font-family: "Oswald";
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    margin-top: 0;
    font-size: 3em;
}

.tableheader {
    margin: auto;
    text-align: left;
}

.header {
    text-align: center;
}

#menu-item {
    padding: 0;
}
#ingtable {
    margin: auto;
}

.thumbnail {
    padding: 0%;
    border: 0;
    margin: 0%;
}

.menu-container {
    position: absolute;
}
#single-menu-item {
    padding: 0;
    margin: 0;
}

.row.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    height: 100%;
}

/*.btn-default:hover {-webkit-filter: sepia(100%);}*/

.name {
    font-size: 2em;
    font-family: "Lato";
    font-weight: 500;
}

.btn-danger {
    font-family: "Oswald";
    text-transform: uppercase;
    font-size: 1em;
    line-height: 1em;
    letter-spacing: 0.1em;
    outline: none !important;
}

.btn-danger:focus {
    font-family: "Oswald";
    text-transform: uppercase;
    outline: none !important;
}

.btn-success {
    font-family: "Oswald";
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 2px;
    outline: none !important;
    background-color: green;
    border-width: 0;
}

.btn-success:focus {
    font-family: "Oswald";
    text-transform: uppercase;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 2px;
    outline: none !important;
}

.definitions {
    font-family: "Lato";
    font-size: large;
    opacity: 0.9;
}

.grocery-list-button:hover {
    transition: 0.5s ease-in-out;
    border-color: #ccc;
}

.grocery-list-button:focus {
    border-color: #ccc;
    transition: 0.5s ease-in-out;
}

#inglistbody {
    font-family: "Lato";
}

.footer {
    text-align: center;
    font-family: "Lato";
    font-size: 1em;
    margin: 0;
    line-height: 1.5em;
    color: black;
}

.link {
    color: black;
}

#remove-recipe-button {
    font-family: "Oswald";
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1em;
    letter-spacing: 0.05em;
    outline: none !important;
    color: #ff9800;
    background-color: white;
    padding: 0.5em;
    border-radius: 0.5em;
}

#remove-recipe-button:focus {
    font-family: "Oswald";
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1em;
    letter-spacing: 0.05em;
    outline: none !important;
    color: #ff9800;
    background-color: white;
    padding: 0.5em;
    border-radius: 0.5em;
    border-color: #ff9800;
}

#remove-recipe-button:hover {
    font-family: "Oswald";
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1em;
    letter-spacing: 0.05em;
    background-color: #ff9800;
    color: white;
    outline: none !important;
}

#instructions-button {
    font-family: "Oswald";
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1em;
    letter-spacing: 0.05em;
    outline: none !important;
    color: black;
    background-color: white;
    padding: 0.5em;
    border-radius: 0.5em;
    border-color: black;
}

#instructions-button:focus {
    font-family: "Oswald";
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1em;
    letter-spacing: 0.05em;
    outline: none !important;
    color: black;
    background-color: white;
    padding: 0.5em;
    border-radius: 0.5em;
    border-color: black;
}

#instructions-button:hover {
    font-family: "Oswald";
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1em;
    letter-spacing: 0.05em;
    background-color: black;
    color: white;
    outline: none !important;
    border-color: black;
}

.btn {
    outline: none !important;
}

.btn:focus {
    outline: none !important;
}

.modal-title {
    font-size: 4em;
    font-family: Oswald;
    font-weight: 600;
    padding: 0px 0px 5px 0px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.btn-secondary {
    margin-top: 5pt;
    font-family: "Oswald";
    text-transform: uppercase;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 1px;
    outline: none !important;
}

.btn-primary {
    margin-top: 5pt;
    font-family: "Oswald";
    text-transform: uppercase;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 1px;
    outline: none !important;
}

.modal-footer {
    text-align: center;
    margin-top: 0;
    padding: 0px 0px 0px 0px;
    font-family: "Lato";
}

.instructions {
}

.instructionsheader {
    font-family: "Oswald";
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
}

.myname {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.btn-hide {
}

.btn-lg {
    outline: none;
}

.modal-body {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: "Lato";
}

#map {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.directionsheader {
    font-family: "Oswald";
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 15px;
}

.modalmaps {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
    background: yellow;
}

.recipedataheader {
    font-family: Oswald;
    margin-left: 5pt;
    text-align: center;
}

.major-input-group {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 30px;
    margin-left: 30px;
}

.form-group {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 30px;
    margin-left: 30px;
}

#commitingbutton {
}

.enteringredientsform {
    background-color: gray;
    color: white;
    text-align: center;
    margin-bottom: 0;
    padding: 5px 10vw 5px 10vw;
}

.ingredientheadertitle {
    text-align: left;
}

.enteringinstructionsform {
    background-color: gray;
    color: white;
    text-align: center;
    margin-bottom: 0;
    padding: 5px 10vw 5px 10vw;
}

[data-toggle="toggle"] {
    display: none;
}

.loader:empty {
    position: absolute;
    top: calc(50% - 4em);
    left: calc(50% - 4em);
    width: 6em;
    height: 6em;
    border: 1.1em solid rgba(0, 0, 0, 0.2);
    border-left: 1.1em solid #000000;
    border-radius: 50%;
    animation: load8 1.1s infinite linear;
}

@keyframes load8 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.menu {
    max-width: 100%;
    margin-top: 0;
    display: inline;
    padding: 0px 0px 0px 0px;
}

.menu-item-thumbnail {
    margin: 0;
    padding: 0;
}

.col-md-2 .col-sm-12 .col-xs-12 {
    padding: 0;
}

/*img:hover {
    -webkit-filter: grayscale(100%);
}*/

.modal-header {
    padding: 10px 10px 0px 0px;
    font-size: 1em;
    font-family: "Oswald";
}

.signinbtn {
    font-family: "Oswald";
    text-transform: uppercase;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 2px;
    outline: none !important;
    background-color: green;
}

.sign-in-message {
    margin-top: 20px;
}

.recipe-modal-instructions {
    text-align: left;
    margin: 0 1em;
}

.grocery-list-header {
    font-family: "Oswald";
}

.grocery-list-table-header {
    font-family: "Oswald";
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: lighter;
    font-size: 1em;
}

.grocery-list-table-empty {
    font-weight: normal;
}

.grocery-list-table {
    font-family: "Lato";
    width: 90%;
    margin-bottom: 0;
    overflow-y: auto;
    border-spacing: 2em 0;
}

.ingredients-list-table {
    font-family: "Lato";
    padding: 0;
    width: 100%;
    border-spacing: 0.5em 0;
    border-collapse: separate;
    margin: 0 0 0 0;
}

.ingredients-list-header {
    margin-top: 0;
}

.instructions-list-header {
    margin-top: 0;
}

.grocery-list {
    font-family: "Lato";
    margin: auto;
}

.recipe-modal-footer {
    padding: 1em 0px 1em 0px;
}

.map {
}

.map-container {
    margin: auto;
    box-shadow: 0 5px 10px 0 hsla(0, 0%, 0%, 0.2);
}

.map-holder {
}

#show-grocery-list {
    font-family: "Oswald";
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.75em;
    line-height: 1em;
    background-color: black;
    color: white;
    outline: none !important;
    margin-bottom: 4%;
    margin-top: 0;
}

#show-grocery-list:hover {
    font-family: "Oswald";
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.75em;
    line-height: 1em;
    background-color: white;
    color: black;
    border-color: white;
    transition: .25s ease-in-out;
    outline: none !important;
    margin-bottom: 4%;
    margin-top: 0;
}

#show-grocery-list:focus {
    font-family: "Oswald";
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.75em;
    line-height: 1em;
    background-color: black;
    color: white;
    transition: .25s ease-in-out;
    outline: none !important;
    margin-bottom: 4%;
    margin-top: 0;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .show-grocery-list {
        font-size: 2.75em;
        line-height: 1em;
        margin-bottom: 1%;
    }

    .show-grocery-list:hover {
        font-size: 2.75em;
        line-height: 1em;
        margin-bottom: 1%;
    }

    .show-grocery-list:focus {
        font-size: 2.75em;
        line-height: 1em;
    }
}

.recipe-modal-picture {
    height: 100%;
    width: 100%;
}

.recipe-modal-picture-container {
    padding-bottom: 1em;
}

hr {
    margin: 1em;
}

.ingredients-list {
    margin-left: 0;
    margin-right: 0;
}

.logo-container {
    text-align: center;
    box-shadow: 0 0 0 0;
}

.logo-animation-appear {
    opacity: 0;
}

.logo-animation-appear.logo-animation-appear-active {
    opacity: 1;
    transition: 1s;
}

.logo-animation-leave {
    opacity: 1;
    height: 100%;
    transform: scale(1, 1);
}

.logo-animation-leave.logo-animation-leave-active {
    opacity: 0;
    height: 0;
    transform: scale(0, 0);
    transition: 1000ms ease-in;
}

.header-animation-appear {
    opacity: 0;
}

.header-animation-appear.header-animation-appear-active {
    opacity: 1;
    transition: opacity 0.3s ease-in;
}

.footer-animation-appear {
    opacity: 0;
}

.footer-animation-appear.footer-animation-appear-active {
    opacity: 1;
    transition: 1s;
    transition-delay: 2s;
}

.title-animation-appear {
    opacity: 0;
}

.title-animation-appear.title-animation-appear-active {
    opacity: 1;
    transition: 1s ease-in-out;
    transition-delay: 0.75s;
}

.generate-button-animation-appear {
    opacity: 0;
}

.generate-button-animation-appear.generate-button-animation-appear-active {
    opacity: 1;
    transition: 1s ease-in-out;
    transition-delay: 1.5s;
}

.menu-items-animation-appear {
    opacity: 0;
}

.menu-items-animation-appear.menu-items-animation-appear-active {
    opacity: 1;
    transition: 2s;
    transition-delay: 1s;
}

.menu-change-animation-appear {
    opacity: 0;
    transform: translateY(100%);
}

.menu-change-animation-appear.menu-change-animation-appear-active {
    opacity: 1;
    transition: 1s ease-in;
}

.menu-change-animation-leave {
    opacity: 1;
}

.menu-change-animation-leave.menu-change-animation-leave-active {
    opacity: 0;
    transition: 1s ease-in;
}

.show-grid {
    max-width: 100%;
}

.test {
    color: red;
}

.menu-items-animation-updated {
    transform: scale(0.5);
}

.recipe-yield {
    /*    font-weight: bold;*/
    font-family: "Lato";
    font-size: 1.25em;
    opacity: 0.85;
}

.export-grocery-list {
    /*    font-weight: bold;*/
    font-family: "Lato";
    font-size: 1.25em;
    opacity: 0.85;
    margin-bottom: 10px;
}

.no-margin {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    white-space: nowrap;
}

.footer-buttons {
    margin: auto;
    text-align: center;
    width: 40%;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .footer-buttons {
        width: 17%;
    }
}

.divider {
    margin-top: 4%;
}

.divider-small {
    margin-top: 2%;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .divider {
        margin-top: 2%;
    }
    .divider-small {
        margin-top: 1%;
    }
}

#signInButton {
    font-weight: bold;
    font-size: 1.75em;
    line-height: 0.75em;
    border-radius: 0.5em;
    border-width: 1px;
    border-color: green;
    color: green;
    background: black;
    padding: 0.5em;
}

#signInButton:hover {
    color: white;
    background-color: green;
    border-color: green;
    border-width: 1px;
    transition: 1s ease-in-out;
}

#signInButton:focus {
    border-color: green;
    background-color: black;
    color: green;
}

#signInButton-footer {
    font-weight: bold;
    font-size: 1.75em;
    line-height: 0.75em;
    border-radius: 0.5em;
    border-width: 1px;
    border-color: green;
    color: green;
    background: white;
    padding: 0.5em;
}

#signInButton-footer:hover {
    color: white;
    background-color: green;
    border-color: green;
    border-width: 1px;
    transition: 1s ease-in-out;
}

#signInButton-footer:focus {
    border-color: green;
    background-color: white;
    color: green;
}

#signInButton-modal {
    font-weight: bold;
    font-size: 1.75em;
    line-height: 0.75em;
    border-radius: 0.5em;
    border-width: 1px;
    border-color: green;
    color: green;
    background: white;
    padding: 0.5em;
}

#signInButton-modal:hover {
    color: white;
    background-color: green;
    border-color: green;
    border-width: 1px;
    transition: .25s ease-in-out;
}

#signInButton-modal:focus {
    border-color: green;
    background-color: white;
    color: green;
    transition: .25s ease-in-out;
}

#logOutButton {
    font-weight: bold;
    font-size: 1.75em;
    line-height: 0.75em;
    border-radius: 0.5em;
    border-width: 1px;
    border-color: red;
    background-color: black;
    color: red;
    padding: 0.5em;
}

#logOutButton:hover {
    background-color: red;
    color: black;
    border-color: red;
    border-width: 1px;
    transition: .25s ease-in-out;
}

#logOutButton:focus {
    border-color: red;
    background-color: red;
    background-color: black;
    color: red;
}

#logOutButtonFooter {
    font-weight: bold;
    font-size: 1.75em;
    line-height: 0.75em;
    border-radius: 0.5em;
    border-width: 1px;
    border-color: red;
    background-color: red;
    color: white;
    padding: 0.5em;
    transition: .25s ease-in-out;
}

#logOutButtonFooter:hover {
    color: red;
    background-color: white;
    border-color: red;
    border-width: 1px;
    transition: .25s ease-in-out;
}

#logOutButtonFooter:focus {
    border-color: red;
    background-color: red;
    background-color: red;
    color: white;
    transition: .25s ease-in-out;
}

.row {
    margin: 0;
}

.recipe-modal-title {
    font-size: 3em;
    font-family: "Dancing Script", cursive;
    font-weight: bold;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .recipe-modal-title {
        font-size: 4em;
    }
}

.signInButtonHeader {
    width: 75%;
}

@media only screen and (max-width: 767px) {
    /* For mobile: */
    #logo {
        width: 100%;
        height: 100%;
        box-shadow: 0 0 0 0;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    #logo {
        width: 35%;
        height: 35%;
        box-shadow: 0 0 0 0;
    }
}

.grocery-list-button-container {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .grocery-list-button-container {
        text-align: right;
        margin-bottom: 0em;
    }

    .grocery-list-button-container:hover {
        margin-bottom: 0em;
    }

    .grocery-list-button-container:focus {
        margin-bottom: 0em;
    }
}

#menu-items-static {
    opacity: 1;
    transform: translateY(0) scale(1);
    transition: 0.5s;
    transition-timing-function: cubic-bezier(0.36, 1.33, 0.97, 0.94);
}

#menu-item-0-animation {
    opacity: 0;
    transform: translateY(175%) scale(0.5);
    transition-timing-function: cubic-bezier(0.18, 1.8, 0.59, 0.85);
    transition: 0.5s;
}

#menu-item-1-animation {
    opacity: 0;
    transform: translateY(175%) scale(0.5);
    transition-timing-function: cubic-bezier(0.18, 1.8, 0.59, 0.85);
    transition: 0.5s;
}

#menu-item-2-animation {
    opacity: 0;
    transform: translateY(175%) scale(0.5);
    transition-timing-function: cubic-bezier(0.18, 1.8, 0.59, 0.85);
    transition: 0.5s;
}

#menu-item-3-animation {
    opacity: 0;
    transform: translateY(175%) scale(0.5);
    transition-timing-function: cubic-bezier(0.18, 1.8, 0.59, 0.85);
    transition: 0.5s;
}

#menu-item-4-animation {
    opacity: 0;
    transform: translateY(175%) scale(0.5);
    transition-timing-function: cubic-bezier(0.18, 1.8, 0.59, 0.85);
    transition: 0.5s;
}

#menu-item-5-animation {
    opacity: 0;
    transform: translateY(175%) scale(0.5);
    transition: 0.5s;
    transition-timing-function: cubic-bezier(0.18, 1.8, 0.59, 0.85);
}

.menu-item-image {
    width: 100%;
    height: auto;
    box-shadow: 0 5px 10px 0 hsla(0, 0%, 0%, 0.2);
    transition: 0.75s ease-in-out;
    border-width: 0;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
/*    .menu-item-image:hover {
        -webkit-filter: contrast(150%);
        -webkit-filter: saturate(125%);
        border-radius: 50%;
        transition: 0.5s;
    }*/
}
